<div class="navbar  navbar-fixed-top">
	<div class="navbar-inner">
    <div class="container">
			<a class="brand">CrowdFunder</a>
      <ul class="nav">
        <li><%= link_to "Home", root_url%></li>
        <li class="active"><%= link_to "Projects", projects_url%></li>
      </ul>
    </div>
  </div>
</div>