<div class="navbar  navbar-fixed-top">
	<div class="navbar-inner">
    <div class="container">
			<a class="brand">CrowdFunder</a>
      <ul class="nav">
        <% if controller_name == "welcome" %>
          <li class="active"><%= link_to "Home", root_url%></li>
        <% else %>
          <li><%= link_to "Home", root_url%></li>
        <% end %>
        <% if controller_name == "projects" %>
          <li class="active"><%= link_to "Projects", projects_url%></li>
        <% else %>
          <li><%= link_to "Projects", projects_url%></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>